<div *ngFor="let saying of sayings" id="sayingsRow" class="row">
  <div class="col-xs-12 col-sm-8 col-sm-push-2">
    <div class="panel panel-default panel-pet">
      <div class="panel-heading">
        <h3 class="panel-title">{{saying.text}}</h3>
        <b>Block : </b>{{saying.blockCount}}, <b>Address</b> : {{saying.address}}<br>
        <b>Text</b> : <p>{{saying.text}}</p>
      </div>
      <div class="panel-body">
        <button class="btn btn-default btn-adopt" type="button" data-id="0">Verify</button>
        <button class="btn btn-default btn-adopt" type="button" data-id="0">Share</button>
      </div>
    </div>
  </div>
</div>