<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-push-2">
    <div class="panel panel-default panel-pet">
      <div class="panel-body">
        <ul class="timeline">
          <li *ngFor="let saying of sayings"> 
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">{{saying.hash}}</h4>
                <p><small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> <u>{{saying.blockCount}}. block</u> by <u>{{saying.address}}</u></small></p>
              </div>
              <div class="timeline-body">
                {{saying.text}}
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>
        </ul>        
      </div>
    </div>
  </div>
</div>

<!-- <div *ngFor="let saying of sayings" id="sayingsRow" class="row">
  <div class="col-xs-12 col-sm-8 col-sm-push-2">
    <div class="panel panel-default panel-pet">
      <div class="panel-heading">
        <h3 class="panel-title">{{saying.text}}</h3>
        <b>Block : </b>{{saying.blockCount}}, <b>Address</b> : {{saying.address}}<br>
        <b>Text</b> : <p>{{saying.text}}</p>
      </div>
      <div class="panel-body">
        <button class="btn btn-default btn-adopt" type="button" data-id="0">Verify</button>
        <button class="btn btn-default btn-adopt" type="button" data-id="0">Share</button>
      </div>
    </div>
  </div>
</div> -->