<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-push-2">
    <div class="panel panel-default panel-pet">
      <div class="panel-body">
        <ul class="timeline">
          <li *ngFor="let saying of sayings"> 
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">{{saying.hash}}</h4>
                <p><small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> <u>{{saying.blockCount}}. block</u> by <u>{{saying.address}}</u></small></p>
              </div>
              <div class="timeline-body">
                  <div *ngIf="saying.text != '' ">
                    <pre>{{saying.text}}</pre>
                  </div>
                  <div *ngIf="saying.text == '' ">
                    <div class="loader"></div>
                  </div>
              </div>
            </div>
          </li>
        </ul>        
      </div>
    </div>
  </div>
</div>